<div class="col col-6 col-md-3 my-2 image-card">
    <a href="{{url img.url}}">
        <div class="ratio ratio-1x1">
            <div class="card">
                <img src="{{url img.img}}">
            </div>
        </div>
    </a>
</div>